{%- if site.data.profile.gscholar contains 'scholar.google' -%}
{%- assign gscholar_url = site.data.profile.gscholar -%}
{%- else -%}
{%- assign gscholar_url = 'https://scholar.google.com/citations?user=' | append: site.data.profile.gscholar -%}
{%- endif -%}

<div class="row mt-3">
    <div class="col">
        <div class="card border-0 shadow-sm bg-white">
            <div class="card-body p-4">
                <div class="row" data-masonry='{"percentPosition": true }'>
                    {% if site.data.profile.education %}
                    <div class="col-lg-6">
                        <div class="mx-2 my-1">
                            <h6>Education</h6>
                            <ul class="list-unstyled mb-1">
                                {% for item in site.data.profile.education %}
                                {% assign logo_width = item.logo_width | default: 28 %}
                                <li class="media mb-1">
                                    <img src="{{ item.logo | relative_url }}" alt="{{ item.name }}" style="width: {{ logo_width }}px;" class="mr-1 mt-1">
                                    <div class="media-body">
                                        <div>{{ item.name }}</div>
                                        <div class="small">{{ item.dept }}</div>
                                        <div class="small d-flex">
                                            <div>{{ item.position }}</div>
                                            <div class="mt-auto ml-auto no-break"><em>{{ item.date }}</em></div>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}

                    {% if site.data.profile.experience %}
                    <div class="col-lg-6">
                        <div class="mx-2 my-1">
                            <h6>Experience</h6>
                            <ul class="list-unstyled mb-1">
                                {% for item in site.data.profile.experience %}
                                {% assign logo_width = item.logo_width | default: 28 %}
                                {% assign logo_offset_left = item.logo_offset_left | default: 0 %}
                                <li class="media mb-1">
                                    <img src="{{ item.logo | relative_url }}" alt="{{ item.name | strip_html }}" style="width: {{ logo_width }}px; margin-left: -{{ logo_offset_left }}px;" class="mr-1 mt-1">
                                    <div class="media-body">
                                        <div>{{ item.name }}</div>
                                        <div class="small">{{ item.dept }}</div>
                                        <div class="small d-flex">
                                            <div>{{ item.position }}</div>
                                            <div class="mt-auto ml-auto no-break"><em>{{ item.date }}</em></div>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}

                    {% if site.data.profile.awards %}
                    <div class="col-lg-6">
                        <div class="mx-2 my-1">
                            <h6>Honors & Awards</h6>
                            <ul class="list small pl-3 mb-1">
                                {% for item in site.data.profile.awards %}
                                <li>
                                    <div class="d-flex">
                                        <div>{{ item.name }}</div>
                                        <div class="ml-auto mt-auto no-break"><em>{{ item.date }}</em></div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}

                    <div class="col-lg-6">
                        <div class="mx-2 my-1">
                            <h6>Profile Highlights</h6>
                            <ul class="list small pl-3 mb-1">
                                <li id="xjtu-supervisors-highlight" style="display: none;">
                                    Supervisors at Xi'an Jiaotong University:
                                    <a href="https://gr.xjtu.edu.cn/web/biaozhao" target="_blank">Prof. Biao Zhao</a>
                                    (<a href="https://faculty.xjtu.edu.cn/biaozhao/zh_CN/index.htm" target="_blank">faculty profile</a>);
                                    Prof. Guizhong Liu
                                    (<a href="https://faculty.xjtu.edu.cn/liugz/en/index.htm" target="_blank">faculty page</a>).
                                </li>
                                <li>
                                    Google Scholar:
                                    <a href="{{ gscholar_url }}" target="_blank" class="badge badge-pill badge-light border border-primary text-primary">Citations 767</a>
                                    <a href="{{ gscholar_url }}" target="_blank" class="badge badge-pill badge-light border border-success text-success">h-index 14</a>
                                    <a href="{{ gscholar_url }}" target="_blank" class="badge badge-pill badge-light border border-warning text-warning">h10-index 17</a>
                                </li>
                                <li>
                                    Serving as Academic Editor for <a target="_blank" href="https://journals.plos.org/plosone/">PLOS ONE</a> (24-04 to 25-10).
                                </li>
                                <li>
                                    <i class="fas fa-file-alt"></i>
                                    CV:
                                    <a target="_blank" href="{{ '/assets/files-albert-evans/Weiqiang%20Jin%20Resume.pdf' | relative_url }}">English Resume</a>
                                    /
                                    <a target="_blank" href="{{ '/assets/files-albert-evans/%E9%87%91%E4%BC%9F%E5%BC%BA%20%E7%AE%80%E5%8E%86.pdf' | relative_url }}">&#x4E2D;&#x6587;&#x7B80;&#x5386; (CN)</a>
                                </li>
                            </ul>
                            <script>
                                (function () {
                                    function toggleXjtuSupervisorHighlight() {
                                        var cutoff = new Date(2026, 6, 1);
                                        var today = new Date();
                                        today.setHours(0, 0, 0, 0);
                                        var show = today > cutoff;
                                        var el = document.getElementById("xjtu-supervisors-highlight");
                                        if (el) {
                                            el.style.display = show ? "" : "none";
                                        }
                                    }

                                    if (document.readyState === "loading") {
                                        document.addEventListener("DOMContentLoaded", toggleXjtuSupervisorHighlight);
                                    } else {
                                        toggleXjtuSupervisorHighlight();
                                    }
                                })();
                            </script>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
