<div class="row sticky-top" style="top: 80px">
    <div class="col">
        <div class="card border-0 shadow-sm bg-white">
            <div class="card-body px-4 pt-4 pb-3">
                <div class="row">
                    <div class="col">
                        {% if site.data.profile.portrait_url %}
                        <!-- When the screen is wider than md, float the portrait on the right -->
                        <div class="figure d-none d-md-block">
                            <img 
                                src="{{ site.data.profile.portrait_url | relative_url }}" 
                                class="figure-img img-fluid" 
                                data-toggle="tooltip" 
                                data-placement="top" 
                                title="{{ site.data.profile.portrait_caption }}">
                        </div>
                        <div class="mb-3 d-md-none text-center">
                            <img src="{{ site.data.profile.portrait_url | relative_url }}" class="rounded-circle" style="max-width: 50%;" alt="Portrait">
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center h4">
                        {{ site.data.profile.primary_name }}
                    </div>
                </div>

                <div class="row small">
                    <div class="col text-center">
                        {% for position in site.data.profile.positions %}
                        {{ position.name }}<br/>
                        {% endfor %}
                    </div>
                </div>

                <div class="row small">
                    <div class="col text-center">
                        <a class="email-text" href="mailto:{{ site.data.profile.email | encode_email }}">
                            {{ site.data.profile.email | replace: "@", "(at)" }}
                        </a>
                        {% if site.data.profile.phone %}<br/>{{ site.data.profile.phone }}{% endif %}
                        {% if site.data.profile.website %}
                        <br/>
                        <a
                            target="_blank"
                            href="{{ site.data.profile.website }}"
                            data-toggle="tooltip"
                            data-placement="top"
                            title="This legacy website stopped maintenance in February 2025. Please refer to this website for latest updates. &#x8BE5;&#x65E7;&#x7F51;&#x7AD9;&#x5DF2;&#x4E8E;2025&#x5E74;02&#x6708;&#x505C;&#x6B62;&#x7EF4;&#x62A4;&#xFF0C;&#x6700;&#x65B0;&#x4FE1;&#x606F;&#x8BF7;&#x53C2;&#x8003;&#x672C;&#x7F51;&#x7AD9;&#x3002;">
                            Original Website
                        </a>
                        {% endif %}
                    </div>
                </div>

                <div class="row pt-2">
                    <div class="col text-center h4">
                        {% if site.data.profile.gscholar %}
                        {%- if site.data.profile.gscholar contains 'scholar.google' -%}
                        {%- assign gscholar_url = site.data.profile.gscholar -%}
                        {%- else -%}
                        {%- assign gscholar_url = 'https://scholar.google.com/citations?user=' | append: site.data.profile.gscholar -%}
                        {%- endif -%}
                        <a class="px-1 no-break" target="_blank" href="{{ gscholar_url }}">
                            <i class="fab fa-google-scholar"></i>
                        </a>
                        {% endif %}
                        
                        {% if site.data.profile.github %}
                        <a class="px-1 no-break" target="_blank" href="https://github.com/{{ site.data.profile.github }}">
                            <i class="fab fa-github"></i>
                        </a>
                        {% endif %}

                        {% if site.data.profile.arxiv %}
                        <a class="px-1 no-break" target="_blank" href="{{ site.data.profile.arxiv }}">
                            <i class="ai ai-arxiv"></i>
                        </a>
                        {% endif %}

                        {% if site.data.profile.link3 %}
                        <a class="px-1 no-break" target="_blank" href="{{ site.data.profile.link3 }}">
                            <i class="fas fa-link"></i>
                        </a>
                        {% endif %}

                        {% if site.data.profile.dblp %}
                        <a class="px-1 no-break" target="_blank" href="{{ site.data.profile.dblp }}">
                            <i class="ai ai-dblp"></i>
                        </a>
                        {% endif %}

                        {% if site.data.profile.kaggle %}
                        <a class="px-1 no-break" target="_blank" href="https://www.kaggle.com/{{ site.data.profile.kaggle }}">
                            <i class="fab fa-kaggle"></i>
                        </a>
                        {% endif %}

                        {% if site.data.profile.steam %}
                        <a class="px-1 no-break" target="_blank" href="https://steamcommunity.com/id/{{ site.data.profile.steam }}">
                            <i class="fab fa-steam"></i>
                        </a>
                        {% endif %}

                        {% if site.data.profile.wechat_qrcode %}
                        <a class="px-1 no-break" data-toggle="modal" data-target="#modal-wechat">
                            <i class="fab fa-weixin"></i>
                        </a>
                        {% endif %}

                        {% if site.data.profile.twitter %}
                        {%- if site.data.profile.twitter contains 'http' -%}
                        {%- assign twitter_url = site.data.profile.twitter -%}
                        {%- else -%}
                        {%- assign twitter_url = 'https://twitter.com/' | append: site.data.profile.twitter -%}
                        {%- endif -%}
                        <a class="px-1 no-break" target="_blank" href="{{ twitter_url }}">
                            <i class="fab fa-twitter"></i>
                        </a>
                        {% endif %}

                        {% if site.data.profile.linkedin %}
                        <a class="px-1 no-break" target="_blank" href="https://www.linkedin.com/in/{{ site.data.profile.linkedin }}">
                            <i class="fab fa-linkedin"></i>
                        </a>
                        {% endif %}

                        {% if site.data.profile.orcid %}
                        <a class="px-1 no-break" target="_blank" href="https://orcid.org/{{ site.data.profile.orcid }}">
                            <i class="fab fa-orcid"></i>
                        </a>
                        {% endif %}

                        {% if site.data.profile.zhihu %}
                        <a class="px-1 no-break" target="_blank" href="{{ site.data.profile.zhihu }}">
                            <i class="fab fa-zhihu"></i>
                        </a>
                        {% endif %}
                    </div>
                </div>

                <div class="row pt-2 small">
                    <div class="col text-center">
                        {% if site.data.profile.arxiv %}<a target="_blank" href="{{ site.data.profile.arxiv }}">arXiv</a> {% endif %}
                        {% if site.data.profile.gscholar %}| <a target="_blank" href="{{ gscholar_url }}">Google Scholar</a> {% endif %}
                        {% if site.data.profile.link3 %}| <a target="_blank" href="{{ site.data.profile.link3 }}">Link3</a> {% endif %}
                        {% if site.data.profile.orcid %}| <a target="_blank" href="https://orcid.org/{{ site.data.profile.orcid }}">ORCID</a> {% endif %}
                        {% if site.data.profile.dblp %}| <a target="_blank" href="{{ site.data.profile.dblp }}">DBLP</a> {% endif %}
                        {% if site.data.profile.github %}| <a target="_blank" href="https://github.com/{{ site.data.profile.github }}">Github</a> {% endif %}
                        {% if site.data.profile.kaggle %}| <a target="_blank" href="https://www.kaggle.com/{{ site.data.profile.kaggle }}">Kaggle</a> {% endif %}
                        {% if site.data.profile.steam %}| <a target="_blank" href="https://steamcommunity.com/id/{{ site.data.profile.steam }}">Steam</a> {% endif %}
                        {% if site.data.profile.twitter %}| <a target="_blank" href="{{ twitter_url }}">X (formerly Twitter)</a> {% endif %}
                        {% if site.data.profile.zhihu %}| <a target="_blank" href="{{ site.data.profile.zhihu }}">Zhihu</a>{% endif %}
                    </div>
                </div>
                <div class="row pt-3">
                    <div class="col text-center">
                        <div class="small text-muted mb-1"><a target="_blank" href="https://journals.plos.org/plosone/">PLOS ONE</a> Academic Editor Badge</div>
                        <img
                            src="{{ '/assets/image-albert-evans/PLOSEdBoardBadge_ONE.png' | relative_url }}"
                            alt="PLOS ONE Editorial Board Badge"
                            class="img-fluid rounded-sm shadow-sm"
                            style="max-height: 64px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% if site.data.profile.wechat_qrcode %}
<div class="modal fade" id="modal-wechat" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body p-0">
                <img src="{{ site.data.profile.wechat_qrcode | relative_url }}" class="img-fluid">
            </div>
            {% if site.data.profile.wechat_prompt %}
            <div class="modal-body p-1">
                {{ site.data.profile.wechat_prompt }}
            </div>
            {% endif %}
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endif %}
